* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
  position: relative;
  padding: 1.2rem;
  background: #2A7B9B;
  background: linear-gradient(180deg, rgba(42, 123, 155, 1) 0%, rgba(36, 105, 133, 1) 100%);
  color: #fff;
  font-size: 1.6rem;
  overflow-x: hidden;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  align-items: center;
  border: 1px solid #fff;
  border-radius: 8px;
  padding: 1.2rem;
}

.summary {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem
}

.details {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.temperature {
  font-size: x-large;
}

.interpretation-picture {
  font-size: 10rem;
}

.change-city-form {
  position: relative;
  display: flex;
  justify-self: end;
  gap: 1rem;
  justify-content: space-between;
  width: 100%;
}

.suggestions-list {
  position: absolute;
  bottom: 100%;
  width: 100%;
  background: white;
  color: black;
  list-style: none;
}

.suggestions-list li {
  cursor: pointer;
}

.suggestions-list li:hover {
  background: black;
  color: white;
}